body {
  margin: 0 auto;
  font-size: 1.125rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #707070;
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: #F8F8F8;
  padding: 2em 0;
  /* border: 1px solid magenta; */
  text-align: center;
  margin-bottom: 2em;
}

footer {
  background-color: #143774;
  text-align: center;
  padding: 2em;
  color: #fff;
}

/* ========
Typography
========= */

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  color: #143774;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  margin-bottom: 0.5rem;
  color: #143774;
  font-size: 2rem;
}

strong {
  font-weight: 700;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

/* h1 subtitle */
.site-subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: .75rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.article-title {
  font-size: 1.5rem;
}

.article-title-blue {
  color: #1792d2;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-info {
    margin-bottom: 2em;
}

.article-read-more {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #1792d2;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}


.widget-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
}

/* ========
Layout
=========== */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Used with the big-screen first type design */
/* main {
  width: 75%;
}

aside {
  width: 20%;
} */

/* Navigation */


nav ul{
  display: flex;
  padding: 0;
  justify-content: center;
  /* border: 1px solid magenta; */
}

nav li {
  margin-left: 2em;
  list-style: none;
  /* border: 1px solid magenta; */
 }

 nav a {
   text-decoration: none;
   color: #707070;
   font-weight: 600;
   padding: .25em 0;
   text-transform: uppercase;
   letter-spacing: 3.2px;
   font-size: 1rem;
 }

 nav a:hover {
   color: #1792d2;
 }

 .current-page {
    border-bottom: 2px solid #707070;
}

.current-page:hover {
    color: #707070;
}


/* Article */

.article-featured {
  display: flex;
  flex-direction: column;
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.featured-img {
  order: -2;
  margin-bottom: 1em;
}

.article-info {
  order: -1;
  margin: 1em 0;
  font-size: 0.8rem;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

.article-page {
  margin-bottom: 4em;
}

.blog-img {
  height: 308px;
  object-fit: cover;
  margin-bottom: 2em;
}
/* Widgets */

.sidebar-widget {
  border: 20px solid #efefef;
  padding: 1em;
  margin-bottom: 2em;
}

.widget-img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  margin-bottom: 2em;
}

.widget-post-title {
  order: 2;
}

.widget-recent-post:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

/* ========
Media Queries
===========*/

/* This is the media query for big-screen first type design */
/* @media (max-width: 675px){
  .container-flex {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
} */

@media (min-width: 800px) {
  .container-flex {
    flex-direction: row;
  }

  header {
    text-align: left;
  }

  main {
    width: 70%;
  }

  aside {
    width: 25%;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 65%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  .featured-img {
    width: 100%;
    min-height: 242px;
    object-fit: cover;
  }

}

@media (max-width: 800px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: .5em 0;
  }

  .widget-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
